<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Lite V2.0</title>

    <!-- Vue Installation with Vuex and Vue-Router -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
    <script src="https://unpkg.com/vue-router@3.5.3/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vuex@2.0.0/dist/vuex.js"></script>
    <script src="https://unpkg.com/vuex-persistedstate/dist/vuex-persistedstate.umd.js"></script>

    <!-- Bootstap CDN  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>


    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>

<body>
    <div id="app" >
        <nav class="navbar navbar-expand-lg bg-info-subtle shadow">
            <div class="container-fluid">
                <router-link class="navbar-brand rounded-pill" to="/">
                    <span class="font-monospace p-3 fw-semibold">Blog <span
                            class="bg-warning p-2 text-danger rounded">Lite</span></span>
                </router-link>
                <div class="navbar-nav">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item" v-if="!$store.state.auth">
                                <router-link to="/login" class="nav-link fw-medium  p-2 m-1">
                                    <span class="navbar-text ">
                                        <i class="bi bi-box-arrow-in-right"></i>
                                        Login
                                    </span>
                                </router-link>
                            </li>
                            <li class="nav-item" v-if="!$store.state.auth">
                                <router-link to="/signup" class="nav-link fw-medium  p-2 m-1">
                                    <span class="navbar-text ">
                                        <i class="bi bi-person-add"></i>
                                        Signup
                                    </span>
                                </router-link>
                            </li>
                            <li class="nav-item" v-if="$store.state.auth">
                                <router-link to="/" class="nav-link fw-medium  p-2 m-1">
                                    <span class="navbar-text ">
                                        <i class="bi bi-house-door-fill p-1 "></i>
                                        Home
                                    </span>
                                </router-link>
                            </li>
                            <li class="nav-item" v-if="$store.state.auth">
                                <router-link to="/new" class="nav-link fw-medium p-2 m-1">
                                    <span class="navbar-text">
                                        <i class="bi bi-plus-square-fill p-1"></i>
                                        Create
                                    </span>
                                </router-link>
                            </li>
                            <li class="nav-item" v-if="$store.state.auth">
                                <router-link to="/search" class="nav-link fw-medium p-2 m-1">
                                    <span class="navbar-text">
                                        <i class="bi bi-search"></i>
                                        Search
                                    </span>
                                </router-link>
                            </li>
                            <li class="nav-item" v-if="$store.state.auth">
                                <router-link to="/profile" class="nav-link fw-medium p-2 m-1">
                                    <span class="navbar-text">
                                        <i class="bi bi-person-circle"></i>
                                        ${ curr_user }
                                    </span>
                                </router-link>
                            </li>
                            <li class="nav-item" v-if="$store.state.auth">
                                <router-link to="/logout" class="nav-link fw-medium p-2 m-1">
                                    <span class="navbar-text">
                                        <i class="bi bi-box-arrow-right"></i>
                                        Logout
                                    </span>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <router-view></router-view>
    </div>
    <!-- <script type="module" src="./static/routes.js"></script> -->
    <script type='module' src="{{url_for('static',filename='application.js')}}"></script>
</body>

</html>